<td-layout-nav>
  <td-layout-card-over>
    <md-card-title>About Teradata</md-card-title>
    <md-card-subtitle>Open Source Initiatives</md-card-subtitle>
    <md-divider></md-divider>
    <md-card-content>
      <h3 class="md-headline">Teradata by the numbers:</h3>
      <ul>
        <li>35+ years of innovation and leadership</li>
        <li>2,600+ customers in 77 countries</li>
        <li>10,000+ employees in XX countries</li>
        <li>74,000+ employee volunteer hours</li>
        <li>Over 100 technology partners</li>
        <li>$2.7B in revenue in 2014</li>
      </ul>

      <p>We’re in good company. Check out our customers:</p>

      <ul>
        <li>9 of the top 10 Banks</li>
        <li>9 of the top 10 Telecommunications Companies</li>
        <li>8 of the top 10 Retailers</li>
        <li>6 of the top 10 Travel and Transportation Companies</li>
        <li>8 of the top 10 Manufacturers</li>
        <li>7 of the top 10 Healthcare Companies</li>
      </ul>
    </md-card-content>
    <md-divider></md-divider>
    <md-card-actions>
      <a md-button color="accent" href="http://www.teradata.com/" target="_blank">
        Visit Teradata.com
      </a>
    </md-card-actions>
  </td-layout-card-over>   
</td-layout-nav>
