<td-layout-nav title="Open Source Projects" logo="assets/icons/teradata.svg">
  <div class="md-padding">
    <div layout-gt-xs="row" layout-wrap>
      <template let-item let-last="last" ngFor [ngForOf]="items">
        <a href="{{item.link}}" class="md-card-link" target="_blank" flex-md="50" flex-gt-md="25" layout="column">
          <md-card href class="md-card-colored" flex>
            <md-toolbar class="bgc-{{item.color}}" layout="column" layout-align="center center" layout-padding>
              <md-icon *ngIf="item.icon" class="md-icon-font-xl tc-white">{{item.icon}}</md-icon>
              <md-icon class="md-icon-src" *ngIf="item.src" svgSrc="{{item.src}}"></md-icon>
            </md-toolbar>
            <md-card-content>
              <div layout="column" layout-padding>
                <div class="md-subhead">{{item.title}}</div>
                <div class="md-caption tc-grey-600"> {{item.description}} </div>   
              </div>
            </md-card-content>
          </md-card>
        </a>
      </template>
    </div>
  </div>
  <md-divider></md-divider>
  <div layout="row" layout-align="start center" layout-wrap layout-padding>
    <span flex-xs="100" flex-gt-xs="45" layout="row" layout-align="start center" layout-align-xs="center center" layout-padding>
      <a href="https://www.teradata.com/" target="_blank"><md-icon class="md-icon-logo tc-orange-700" svgSrc="assets/icons/teradata.svg"></md-icon></a>
      <span class="md-caption push-left-sm">Copyright &copy; 2016 Teradata. All rights reserved</span>
    </span>
    <span flex></span>
    <span flex-xs="100" flex-gt-xs="45" layout="row" layout-align="end center" layout-align-xs="center center" layout-padding>
      <span class="md-caption">made with</span>
      <md-icon class="push-left-xs push-right-xs">favorite</md-icon>
      <span class="md-caption">using Covalent</span>
      <a class="push-left-xs push-right-xs" href="https://teradata.github.io/covalent/" target="_blank"><md-icon svgSrc="assets/icons/covalent.svg"></md-icon></a>
    </span>
  </div>
</td-layout-nav>