/* Variables */
/* :host /deep/ lets shadowdom style child elements */
:host /deep/ md-toolbar.md-primary,
:host /deep/ [md-raised-button].md-primary,
:host /deep/ [md-fab].md-primary,
:host /deep/ [md-mini-fab].md-primary {
  background-color: #EF6C00; }

:host /deep/ md-toolbar.md-accent,
:host /deep/ [md-raised-button].md-accent,
:host /deep/ [md-fab].md-accent,
:host /deep/ [md-mini-fab].md-accent {
  background-color: #0288D1; }

:host /deep/ [md-fab],
:host /deep/ [md-mini-fab],
:host /deep/ .md-radio-checked .md-radio-inner-circle,
:host /deep/ .md-checkbox-checked .md-checkbox-background {
  background-color: #0288D1; }

:host /deep/ .md-radio-checked .md-radio-outer-circle {
  border-color: #0288D1; }

:host /deep/ [md-button].md-primary,
:host /deep/ [md-icon-button].md-primary {
  color: #EF6C00; }

:host /deep/ [md-button].md-accent,
:host /deep/ [md-icon-button].md-accent {
  color: #0288D1; }

:host /deep/ [md-button]:hover.md-primary::after {
  background-color: rgba(239, 108, 0, 0.12); }

:host /deep/ [md-button]:hover.md-accent::after {
  background-color: rgba(2, 136, 209, 0.12); }

:host /deep/ .md-radio-focused .md-ink-ripple,
:host /deep/ .md-checkbox-focused .md-ink-ripple {
  background-color: rgba(2, 136, 209, 0.12); }

:host /deep/ .md-input-placeholder.md-focused {
  color: #EF6C00 !important; }

:host /deep/ .md-progress-bar-fill::after {
  background-color: #EF6C00 !important; }

:host /deep/ .md-input-underline .md-input-ripple {
  background-color: #EF6C00 !important; }
  :host /deep/ .md-input-underline .md-input-ripple.md-accent {
    background-color: #0288D1 !important; }
  :host /deep/ .md-input-underline .md-input-ripple.md-warn {
    background-color: #E53935 !important; }

:host /deep/ .md-progress-bar-buffer {
  background-color: #ffdabc !important; }

:host /deep/ md-progress-bar[color='accent'] .md-progress-bar-fill::after,
:host /deep/ md-progress-bar[color='accent'] .md-input-underline .md-input-ripple {
  background-color: #0288D1 !important; }

:host /deep/ md-progress-bar[color='accent'] .md-progress-bar-buffer {
  background-color: #a1ddfe !important; }

:host /deep/ md-progress-bar[color='warn'] .md-progress-bar-fill::after,
:host /deep/ md-progress-bar[color='warn'] .md-input-underline .md-input-ripple {
  background-color: #E53935 !important; }

:host /deep/ md-progress-bar[color='warn'] .md-progress-bar-buffer {
  background-color: #fceaea !important; }

:host /deep/ md-progress-circle path,
:host /deep/ md-spinner path {
  stroke: #EF6C00; }

:host /deep/ md-progress-circle[color='accent'] path,
:host /deep/ md-spinner[color='accent'] path {
  stroke: #0288D1; }

:host /deep/ md-progress-circle[color='warn'] path,
:host /deep/ md-spinner[color='warn'] path {
  stroke: #E53935; }

:host /deep/ md-ink-bar {
  background-color: #EF6C00 !important; }

:host /deep/ .md-tab-label:focus {
  background-color: rgba(239, 108, 0, 0.12) !important; }

:host /deep/ md-slide-toggle.md-checked .md-slide-toggle-thumb {
  background-color: #0288D1; }

:host /deep/ md-slide-toggle.md-checked .md-slide-toggle-bar {
  background-color: rgba(2, 136, 209, 0.12); }

:host /deep/ md-slide-toggle.md-slide-toggle-focused .md-ink-ripple {
  background-color: rgba(2, 136, 209, 0.12); }

:host /deep/ md-nav-list [md-list-item].active md-icon {
  background-color: #0288D1;
  color: white; }
