// Import extra icons
@import 'assets/covalent-icons/covalent-icons';

// Custom style for loading elements without height
.will-load {
    min-height: 80px;
}
// Href line height wasn't right for mat-icon-button
a[mat-icon-button] {
    line-height: 36px;
}
// Capitalize
.text-capital {
  text-transform: capitalize;
}

.mat-card-colored mat-toolbar mat-icon, .mat-card-colored mat-toolbar .mat-icon {
    opacity: 0.95;
}
